#header{
    background-color:#94001B;
    
}
#footer{
    background-color:#94001B;
    clear: both;
}
#principal{
    background-color: #D6300F;
}
.colnas{
    background-color: #94001B;
    padding-left: 10px;
    margin-left: 4px;
    margin-top: 5px;
    margin-right: 4px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.678);
    
}
.rules{
    background-color: #94001B;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.678);
}

.Header{
    color: white;
}
